//Cores Utilizadas no Projeto
$bg-primary-color: #111317;
$bg-secondary-color: #1f2125;
$bg-tertiary-color: #35373b;
$primary-color: #f9ac54;
$secondary-color: #d79447;
$tertiary-color: #d1d5db;
$quaternary-color: #ffffff;

