<footer class="footer-area">
    <!-- Main Footer -->
    <div class="footer-main">
        <!-- Logo -->
        <img src="logo.png" width="130px" height="auto" alt="">
        <!-- Text -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Incidunt recusandae libero id quae exercitationem eos perspiciatis
            possimus perferendis repellat. Eaque expedita animi fuga,
            
        </p>
        <!-- Contact Icons -->
        <div class="contact-icons">
            <img src="facebook.svg" alt="">
            <img src="instagram.svg" alt="">
            <img src="twitter.svg" alt="">
        </div>
    </div>
    <!-- Company Section -->
    <div class="footer-company">
        <h2>Company</h2>
        <a href="">Business</a>
        <a href="">Franchise</a>
        <a href="">Partnership</a>
        <a href="">Network</a>
    </div>
    <!-- About Section -->
    <div class="footer-about">
        <h2>About us</h2>
        <a href="">Blog</a>
        <a href="">Security</a>
        <a href="">Careers</a>
    </div>
    <div class="footer-contact">
        <h2>Contact</h2>
        <a href="">Contact Us</a>
        <a href="">Privacy Policy</a>
        <a href="">Terms & Conditions</a>
        <a href="">BMI Calculator</a>
    </div>
</footer>