<!-- Componente principal -->
<navbar />

<!-- Home Section -->
<section class="home-section" id="home-section">
    <div class="div-home-text">
        <small>Best Fitness in the Town</small>
        <h1><span style="color: #111317; -webkit-text-stroke: 1px #ffffff;">MAKE</span> YOUR<br>BODY SHAPE</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Recusandae nostrum enim ipsam quae corporis, aliquam eos fugiat ab?
            Reprehenderit quaerat consequuntur voluptates iure unde excepturi
            doloribus amet dicta voluptatum laboriosam.
        </p>
        <button-component buttonName="Get Started" type="button" variant="primary" />
    </div>
    <div class="div-home-image">
        <img src="header.png" width="300px" alt="">
    </div>
</section>

<!-- Program Section -->
<section class="program-section" id="program-section">
    <div class="program-header">
        <h2>EXPLORE OUR PROGRAM</h2>
        <div class="program-pointers">
            <img width="30px" src="left.png" alt="">
            <img width="30px" src="right.png" alt="">
        </div>
    </div>
    <div class="program-cards">
        <div class="program">
            <img src="strength.png" width="50px" height="50px" alt="">
            <h3>Strength</h3>
            <p>Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. At adipisci,
                ab perspiciatis.</p>
            <a href="">Join Now</a>
        </div>
        <div class="program">
            <img src="physical_fitness.png" width="50px" height="50px" alt="">
            <h3>Physical Fitness</h3>
            <p>Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. At adipisci,
                ab perspiciatis.</p>
            <a href="">Join Now</a>
        </div>
        <div class="program">
            <img src="fat_lose.png" width="50px" height="50px" alt="">
            <h3>Fat Lose</h3>
            <p>Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. At adipisci,
                ab perspiciatis.</p>
            <a href="">Join Now</a>
        </div>
        <div class="program">
            <img src="weight_gain.png" width="50px" height="50px" alt="">
            <h3>Weight Gain</h3>
            <p>Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. At adipisci,
                ab perspiciatis.</p>
            <a href="">Join Now</a>
        </div>
    </div>
</section>

<!-- Service Section -->
<section class="service-section" id="service-section">
    <div class="service-images">
        <img src="class-1.jpg" class="class-1" width="400px" alt="">
        <img src="class-2.jpg" class="class-2" width="200px" alt="">
    </div>
    <div class="services-text">
        <h2>THE CLASS YOU WILL GET HERE</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Nostrum vel cum eveniet nobis! Quaerat perferendis totam
            atque maxime corrupti corporis praesentium aspernatur hic quo impedit,
            ab eaque vel molestias officia.</p>
        <button-component buttonName="Book a Class" type="button" variant="primary" />
    </div>

</section>

<section class="about-section" id="about-section">
    <div class="about-text">
        <h2>WHY JOIN US?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quisquam, quos. Quisquam, quos. Quisquam, quos. Quisquam, quos.</p>
    </div>
    <img src="join.jpg" width="60%" alt="">
    <div class="about-cards">
        <div class="about-card">
            <img src="avatar.png" width="50px" alt="">
            <div class="about-card-text">
                <h3>Personal Trainer</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
        </div>
        <div class="about-card">
            <img src="camera.png" width="50px" alt="">
            <div class="about-card-text">
                <h3>Practice Sessions</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
        </div>
        <div class="about-card">
            <img src="company.png" width="50px" alt="">
            <div class="about-card-text">
                <h3>Good Management</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
        </div>

    </div>
</section>

<!-- Prices Section -->
<section class="prices-section" id="prices-section">
    <div class="prices-text">
        <h2>OUR PRICING PLAN</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt qui a vitae omnis pariatur ullam dolores
            natus.</p>
    </div>
    <div class="prices-container">
        <div class="card-prices">
            <div class="price-information">
                <h2>Basic Plan</h2>
                <p>$16</p>
            </div>

            <div class="list-benefits">
                <ul>
                    <li class="plan-benefits">
                        <img width="30px" src="checked.png" alt="">
                        <small>Smart Workout plan.</small>
                    </li>
                    <li class="plan-benefits">
                        <img width="30px" src="checked.png" alt="">
                        <small>At home workouts</small>
                    </li>
                </ul>
            </div>

            <button-component buttonName="Join Now" variant="secondary" type="button" />

        </div>
        <div class="card-prices">
            <div class="price-information">
                <h2>Weekly Plan</h2>
                <p>$25</p>
            </div>

            <div class="list-benefits">
                <ul>
                    <li class="plan-benefits">
                        <img width="30px" src="checked.png" alt="">
                        <small>PRO Gyms</small>
                    </li>
                    <li class="plan-benefits">
                        <img width="30px" src="checked.png" alt="">
                        <small>Smart Workout Plan</small>
                    </li>
                    <li class="plan-benefits">
                        <img width="30px" src="checked.png" alt="">
                        <small>At home workouts</small>
                    </li>
                </ul>
            </div>

            <button-component buttonName="Join Now" variant="secondary" type="button" />

        </div>
        <div class="card-prices">
            <div class="price-information">
                <h2>Monthly Plan</h2>
                <p>$45</p>
            </div>

            <div class="list-benefits">
                <ul>
                    <li class="plan-benefits">
                        <img width="30px" src="checked.png" alt="">
                        <small>ELITE Gyms & Classes</small>
                    </li>
                    <li class="plan-benefits">
                        <img width="30px" src="checked.png" alt="">
                        <small>PRO Gyms</small>
                    </li>
                    <li class="plan-benefits">
                        <img width="30px" src="checked.png" alt="">
                        <small>Smart Workout Plan</small>
                    </li>
                    <li class="plan-benefits">
                        <img width="30px" src="checked.png" alt="">
                        <small>At home workouts</small>
                    </li>
                    <li class="plan-benefits">
                        <img width="30px" src="checked.png" alt="">
                        <small>Personal Trainer</small>
                    </li>
                </ul>
            </div>

            <button-component buttonName="Join Now" variant="secondary" type="button" />

        </div>
    </div>
</section>

<!-- Community Section -->

<section class="community-section" id="community-section">
    <h2>MEMBER REVIEW</h2>
    <div class="member-message">
        <img src="aspas.png" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis soluta tenetur ducimus voluptate
            reprehenderit,
            atque placeat fugit incidunt doloremque consectetur mollitia accusamus consequuntur. Nam quia perspiciatis,
            facere vel quae neque?</p>
    </div>
    <div class="community-avaliable">
        <img width="40px" src="star.png" alt="">
        <img width="40px" src="star.png" alt="">
        <img width="40px" src="star.png" alt="">
        <img width="40px" src="star.png" alt="">
        <img width="40px" src="half-star.png" alt="">
    </div>

    <div class="community-footer">
        <div class="member">
            <img src="member.jpg" width="50px" alt="">
            <div class="member-text">
                <h4>Jane Copper</h4>
                <p>Software Engineer</p>
            </div>

        </div>
        <div class="community-pointers">
            <img src="left-not-bg.png" width="30px" alt="">
            <img src="right-not-bg.png" width="30px" alt="">
        </div>

    </div>

</section>

<!-- Footer Component -->

<footer-component />